.nbb-folder {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;

    &__folder-item {
        width: 100%;
        height: 50px;
        border: 1px solid #333333;
        vertical-align: middle;

        &__name {
            padding: 5px;
            line-height: 20px;
            height: 100%;
        }

        &__counts {
            color: #666666;
        }


        &:hover {
            cursor: pointer;
            background-color: #333333;
        }
    }

    &__image-item {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid #333333;

        &:hover {
            cursor: pointer;
            background-color: #333333;

            .nbb-folder__image-item__name {
                background: rgba(0, 0, 0, 0.5);
            }
        }

        &__name {
            position: absolute;
            bottom: 0;
            font-size: 0.6em;
            text-align: center;
            width: 100%;
            background: rgba(0, 0, 0, 0.2);
            padding: 10px 0;
        }

        &__image {
            width: 100%;
            height: 100%;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
    }
}
