.nbb-imageviewer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;

    button {
        background: #666666;
        border: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        position: absolute;
        z-index: 10000;
        margin: 0;

        &:hover {
            background: white;
        }

        &.hidden {
            display: none;
        }
    }

    &__prev {
        left: 0;
        top: 49vh;
        font-size: $fs-xl;
        line-height: $fs-xxl;
        padding: 0 10px;

        svg {
            transform: rotate(180deg);
        }
    }

    &__next {
        top: 49vh;
        right: 0;
        font-size: $fs-xl;
        line-height: $fs-xxl;
        padding: 0 10px;
    }

    &__close {
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 15px;

        svg {
            transform: scale(0.2);
            transform-origin: top left;
        }
    }

    &__image-item {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        &__name {
            position: absolute;
            text-align: center;
            display: block;
            width: 100%;
            z-index: 2000;
            line-height: $fs-xxl;
            background-color: rgba(0, 0, 0, 0.2);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        }

    }

}
